@{
    ViewBag.Title = "Página Inicial";
    <br />
    ViewBag.Title = "Seja bem-vindo(a) ao projeto FitCard de Cadastro de Estabelecimentos";
}

<footer>
    <p>&copy; @DateTime.Now.Year - Cadastro de Estabelecimentos </p>
</footer>